.control {
    border: none;
    background-color: transparent;
    width: 60px;
}

.control_rest {
    border: none;
    background-color: transparent;
    width: 40px;
}
.control_rest:disabled{
    opacity: 1;
}
.icon {
    height: 100%;
    width: 100%;
}

.progres-bar {
    transform: rotate(-90deg);
    display: flex;
    flex-wrap: nowrap;
    z-index: 5;
    padding-bottom: 30px;
}

.volume-bar {
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    z-index: 1;
}

.control_rest {
    position: relative;
    z-index: 2;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.progress-bar-audio {
    width: 100%;
    margin: 0 10px;
}

.controls-row {
    max-width: 800px;
}

.icon:hover,
.control:hover {
    transition: 0.3 ease-in-out;
    transform: scale(1.1);
    z-index: 10;
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    .icon {
        width: 70%;
        height: 70%;
    }
    .row{
        display: flex;
        justify-content: center;
    }
    .velocity {
        width: 100%;
        display: flex;
        text-align: end !important;
    }

    .control_rest {
        display: flex;
        width: 60px;

        .icon {
            height: 90%;
        }
    }
}

.volume-bar-small {
    width: 100%;
    display: flex;
    align-self: center;
    input{
        width: 100%;
    }
}
.colunm{
    width: auto;
    padding: 0;
}
.colunm-bar{
    width: 25%;
    padding: 0;
}
::ng-deep .customize {
    background-color: rgba(13, 110, 253, 0.9) !important;
    color: #f0f0f0; 
    border-radius: 10px !important;
    overflow-x: hidden !important;
  }
  ::ng-deep .list:hover {
    cursor: pointer !important;
    background-color: rgb(13, 110, 253) !important;

    color: white;
  }

