
<div class="container-fluid w-100">
    <audio #audioPlayer [src]=audio (timeupdate)="updateTime($event)"></audio>
    <div class="row w-100 mb-2">
        <div class="progress-bar-container col-xxl-10 col-lg-10 col-md-8 col-sm-8">
            <span>{{ currentTimeInSeconds | secondsToTime  }}</span>
            <input type="range" class="progress-bar-audio" [value]="currentTimeInSeconds" [max]="durationInSeconds" (input)="seekTo($event)" />
            <span>{{ (durationInSeconds - currentTimeInSeconds) | secondsToTime }}</span>
        </div>
        <div class="col-xxl-2 col-lg-2 col-md-4 col-sm-4">
            <div class="row">
                <div class="col-4">
                    <button (click)="restart()" class="control_rest">
                        <img class="icon" src="../../../../assets/iconos/arrow-clockwise-2.svg">
                    </button>
                </div>
                <div class="col-4" style="position: relative;">
                    <div class="volume-bar" *ngIf="bar_volume">
                        <input type="range" min="0" max="1" step="0.01" [(ngModel)]="volume" (input)="setVolume(volume)" />
                    </div>
                    <button class="control_rest" (click)="bar_volume=!bar_volume">
                        <img class="icon" src="../../../../assets/iconos/volume-up-fill-2.svg" alt="Volumen">
                    </button>
                </div>            
                <div class="col-4">
                    <button type="button" class="control" data-bs-toggle="modal" [attr.data-bs-target]="'#staticBackdrop' + index">
                        x{{playbackRate}}
                    </button>
                    <div class="modal fade" [id]="'staticBackdrop' + index" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Velocidad de reproduccion</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div *ngFor="let rate of playbackRates">
                                        <div class="me-3" (click)="changePlaybackRate(rate)" data-bs-dismiss="modal">
                                            <div class="row">
                                                <div class="col-1">
                                                    <span><img src="../../../../assets/iconos/check-circle-fill-blue.svg" *ngIf="rate==playbackRate"></span>
                                                </div>
                                                <div class="col-10">
                                                    {{ rate }}
                                                </div>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>
    <div class="row">    
        <div class="col-xxl-10 col-lg-10 col-md-8 col-sm-8 d-flex justify-content-center">
            <div class="row g-0 controls-row">
                <div class="col-2" (dblclick)="action('back')" (click)="restart()">
                    <button class="control">
                        <img class="icon" src="../../../../assets/iconos/caret-left-fill-2.svg">
                    </button>
                </div>
                <div class="col-2">
                    <button (click)="skipBackward()" class="control">
                        <img class="icon" src="../../../../assets/iconos/clock-10.svg">
                    </button>
                </div>
                <div class="col-2">
                    <button class="control" (click)="togglePlayPause()">
                        <img class="icon" src="../../../../assets/iconos/pause-circle-2.svg" *ngIf="isPlaying">
                        <img class="icon" src="../../../../assets/iconos/play-circle-fill-2.svg" *ngIf="!isPlaying">
                    </button>
                </div>
                <div class="col-2">
                    <button (click)="skipForward()" class="control">
                        <img class="icon" src="../../../../assets/iconos/clock10.svg">
                    </button>
                </div>
                <div class="col-2">
                    <button class="control" (click)="action('next')">
                        <img class="icon" src="../../../../assets/iconos/caret-right-fill-2.svg">
                    </button>
                </div>
            </div>
        </div>      
    </div>
</div>