<div class="container-fluid">
    <div>
        <h2>
            Ajuste la posicion de los tours
        </h2>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div *ngFor="let step of form;let i=index; trackBy: trackByMovie" class="example-box" cdkDrag>
            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>            
            <mat-accordion style="width: 90%;">
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header style="min-height: 60px;">
                    <mat-panel-title> {{i+1}} </mat-panel-title>
                    <mat-panel-description><h3>{{ step.tittle }}</h3></mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <img src={{step.image}} alt="" class="image">
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-12">
                        {{ step.description }}
                    </div>
                  </div>                  
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <button mat-raised-button color="primary" type="button" (click)="save()">Guardar</button>
          </div>
</div>
