<div class="container d-flex justify-content-center flex-wrap">
    <div class="title">
      <h1>{{ 'COUNTDOWN.Gracias_por_rellenar_esta_encuesta,_volveras_a_la_pantalla_de_inicio_en:' | translate }}</h1>
    </div>
    <div>
        <h2>
            {{countdown}}
        </h2> 
    </div>    
</div>
<div class="modal-footer d-flex justify-content-center mt-3">
    <!-- <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button> -->
    <button type="button" class="btn btn-primary" (click)="accept()" >{{ 'COUNTDOWN.Aceptar' | translate }}</button>
</div>
