<div class="container row d-flex justify-content-center m-0">
    <div class="container-card  col-xxl-4 col-lg-6 col-md-12 d-flex justify-content-center" *ngFor="let tours of toursdata | paginate: {
        itemsPerPage: pageSize,
        currentPage: p,
        totalItems: toursdata.lenght }">
            <mat-card class="tour-card" (click)="sendImage(tours.id)">

            <mat-card-header class="p-0">       
                <img class="image" mat-card-image 
                src='https://letstourtec-bucket-2.s3.eu-north-1.amazonaws.com/tours/{{tours.imagen.url}}' 
                alt="Image">
                <button class='button-fab' mat-fab data-bs-toggle="tooltip" matTooltip={{tours.tipo_de_tour}}
                    aria-label="Button that displays a tooltip when focused or hovered over">
                    <div [ngSwitch]=tours.tipo_de_tour>
                        <img *ngSwitchCase="'Cultural'" src="../../../assets/iconos/building-white.svg" alt="">
                        
                        <img *ngSwitchCase="'Nature'" src="../../../assets/iconos/flower.svg" alt="">
                        <img *ngSwitchCase="'Leisure'" src="../../../assets/iconos/geo-fill-white.svg" alt="">
                        <p *ngSwitchDefault>Icono no disponible</p>
                    </div>
                </button>
            </mat-card-header>
            <mat-card-content class="content mt-2">
                <mat-card-title>{{tours.titulo}}</mat-card-title>
                <strong>Description: </strong>
                    <p>
                        {{showFullDescription[tours.id] ? tours.descripcion : (tours.descripcion.length > 50 ? tours.descripcion.slice(0, 50) + '...' : tours.descripcion)}}
                        <span *ngIf="tours.descripcion.length > 50" class="showMore" (click)="toggleDescription($event, tours.id)">
                            {{showFullDescription[tours.id] ? 'Show less' : 'Show more'}}</span>
                    </p>      
                <ul>
                    <li><strong>Distance to starting point:</strong> {{tours.distance | number: '1.0-2'}} km</li>
                    <li><strong>Duration:</strong>{{tours.duracion}} minutes</li>
                    <li><strong>Covered Distance:</strong>{{tours.recorrido}} km</li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center">
                <button mat-raised-button color="primary" class="custom-button-color" [routerLink]="['/tour/', tours.id]">Let's do it!</button>                
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<div class="paginator row w-100 mt-4" *ngIf="view">
    <div class="col-12 d-flex justify-content-center">
        <pagination-controls (pageChange)="p = $event"
                                (autoHide)=autoHide
                                (responsive)=responsive
                                previousLabel="Previous"
                                 nextLabel="Next"                                
        ></pagination-controls>
    </div>
</div>