<div class="container">
    <mat-card>
        <mat-card-header>
            <h2>Prueba</h2>
        </mat-card-header>
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt perspiciatis accusamus voluptates cupiditate veritatis, sint, officia, ducimus quasi autem nobis aliquam ratione explicabo qui quis quo consequuntur nulla neque. At?</p>
            <hr>
            <div class="audio d-flex justify-content-center">
                <audio id="player2" preload="none" controls style="max-width:100%;">
                    <source src="../../../assets/audios/audio1.opus" type="audio/mp3">
                </audio>
            </div>
        </mat-card-content>
    </mat-card>
</div>
