<div class="container">
  <div class="example-input-wrapper" *ngIf="tour">
    <div class="step-icon-home d-flex justify-content-center">
      <img [src]="url_icon_home" alt="">
    </div>
    <mat-vertical-stepper (selectionChange)="onStepChange($event)">              
      <mat-step [stepControl]="firstFormGroup" *ngFor="let step of tour.steps;let i = index; let last = last" id="step{{i}}">
        <div class="step-icon d-flex justify-content-center" *ngIf="i==0">
          <img [src]="url_icon_home" alt="">
        </div>
        <div class="step-icon d-flex justify-content-center" *ngIf="i>0 && !last">
          <img [src]="url_icon" alt="">
        </div>
        <div class="step-icon d-flex justify-content-center" *ngIf="last && tour.steps.length> 1">
          <img [src]="url_icon_flag" alt="">
        </div>
          <form [formGroup]="firstFormGroup">
            
            <ng-template matStepLabel>
              <strong *ngIf="i==0">{{tour.titulo | uppercase}}</strong>
              <strong *ngIf="i>0 && step.tittle">{{ "STEPPER.Step" | translate }} {{step.stepNumber}}: {{step.tittle | uppercase}}</strong>
              <strong *ngIf="i>0 && !step.tittle">{{ "STEPPER.Step" | translate }} {{step.stepNumber}}</strong>
            </ng-template>
          <div>
            <mat-card *ngIf="i==0" id="step{{i}}">
              <mat-card-header>
              </mat-card-header>
              <mat-card-content>
                <div class="img-container">
                <div class="d-flex justify-content-center w-100">
                  <img src="{{tour.image}}" alt="">
                </div></div>
                <div class="w-100">
                  <p>{{tour.description}}</p>
                </div>
                <div class="audio d-flex justify-content-center">
                  <app-music-player class="w-100" [audio]="tour.audio" [index]="i" [next]="next"
                    (stepChange)="musicAction($event)"></app-music-player>                    
                </div>
                <!--<div class="d-flex justify-content-end">
                  <button mat-button routerLink="/music-detail">detail</button>
                </div>-->
              </mat-card-content>
            </mat-card>
            <mat-card *ngIf="i>0 " id="step{{i}}">
              <mat-card-header>

              </mat-card-header>
              <div *ngIf="step.latitude && step.longitude">
                <h2>{{ "STEPPER.The_following_step_is_in_another_location,_open_the_map_to_continue_the_tour" | translate }}</h2>                
              </div>

              <mat-card-content>
                <div class="img-container">
                <div class="d-flex justify-content-center w-100">
                  <img src="{{step.image}}" alt="" loading="lazy">
                </div></div>
                <p align="left">{{step.description}}</p>
                <div class="row">
                  <div class="col-12" *ngIf="step.latitude">
                    <button mat-button (click)="openMapModal(step.latitude, step.longitude)" type="button">{{ "STEPPER.Open_map" | translate }}</button>
                  </div>
                </div>
                <div class="audio d-flex justify-content-center w-100" *ngIf="audioControlsVisible">
                  <app-music-player class="w-100" [audio]="step.audio" [index]="i" [next]="next" [last]="last"
                    (stepChange)="musicAction($event)"></app-music-player>
                </div>     
                <div  class="d-flex justify-content-end" *ngIf="last">
                  <button mat-raised-button class="exit" data-cy="submit" routerLink="/exit">Exit</button>
                </div>      
              </mat-card-content>
            </mat-card>
          </div>
        </form>
      </mat-step>      
    </mat-vertical-stepper>
    <div class="step-icon-last d-flex justify-content-center" *ngIf="tour.steps.length> 1 && last_step">
      <img [src]="url_icon_flag" alt="">
    </div>   
  </div>
</div>