<nav class="ltt-navbar">
  <div class="ltt-nav-inner">

    <!-- Logo -->
    <a class="ltt-logo" [routerLink]="['/home']">
      <img src="../../../assets/logo/logo_png.png" alt="Let's Tour Tec">
    </a>

    <!-- Hamburger (móvil) -->
    <button class="ltt-hamburger" [class.open]="menuOpen" (click)="menuOpen = !menuOpen" aria-label="Menú">
      <span></span><span></span><span></span>
    </button>

    <!-- Links -->
    <div class="ltt-nav-links" [class.open]="menuOpen">
      <a class="ltt-link" routerLink="/about-us" (click)="menuOpen=false">{{ 'NAVBAR.About_us' | translate }}</a>

      <ng-container *ngIf="!isLoggedIn">
        <a class="ltt-link" routerLink="/login" (click)="menuOpen=false">{{ 'NAVBAR.Log_in' | translate }}</a>
        <a class="ltt-link ltt-link--cta" routerLink="/signup" (click)="menuOpen=false">{{ 'NAVBAR.Sign_up' | translate }}</a>
      </ng-container>

      <ng-container *ngIf="isLoggedIn">
        <a class="ltt-link" routerLink="/profile" (click)="menuOpen=false">{{ 'NAVBAR.My_profile' | translate }}</a>
        <button class="ltt-link ltt-link--btn" (click)="logout()">{{ 'NAVBAR.Log_out' | translate }}</button>
        <a *ngIf="isAdmin" class="ltt-link" routerLink="/admin-panel" (click)="menuOpen=false">{{ 'NAVBAR.Admin' | translate }}</a>
      </ng-container>

      <!-- Banderas -->
      <div class="ltt-flags">
        <img src="../../../assets/flags/UK-flag.png"  alt="English" (click)="switch('en')">
        <img src="../../../assets/flags/ESP-flag.png" alt="Español" (click)="switch('es')">
      </div>
    </div>

  </div>
</nav>
