

.logo {
    width: 240px; /* Adjust size as needed */
  }
  
  .navbar {
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 3px 5px rgba(13, 110, 253, 0.8);
    padding: 0.5rem 1rem;
  }
  
  .navbar-nav {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
  }
  
  .navbar-brand {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 0.75rem; /* Adjust this value as needed to position the logo */
  }
  .nav-link {
    margin-right: 10px; /* Agrega un espacio a la derecha de cada enlace */
  }
  .navbar-nav button { /* Asegúrate de que esto también se aplique a los botones dentro de navbar-nav */
    margin-right: 10px; /* Agrega un espacio a la derecha de cada enlace */
    line-height: 1.5; /* Establece un line-height para asegurar la alineación vertical */
    white-space: nowrap; /* Evita que los enlaces se rompan en varias líneas */
    display: inline-flex; /* Utiliza flex para alinear verticalmente los ítems */
    align-items: center; /* Alineación vertical al centro */
  }
  .language-switcher {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
}

  @media (max-width: 767px) {
    .nav-link,
  .navbar-nav button { /* Asegúrate de que los ajustes se apliquen también a los botones */
    margin-right: 18.5px;
    margin-left: -10px;
    font-size: 13px;
  }
    .logo {
      width: 180px; 
      margin-top: 0.25rem;
    }
    .navbar-nav {
        position: relative; /* Coloca navbar-nav dentro del flujo normal del documento */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; /* Esto asegurará que todos los elementos se alineen verticalmente */
        margin-top: 0; /* Quita el margen superior para alinear con el inicio del contenedor */
      }
      .navbar-brand {
        margin-top: 0.25rem; /* Valor aún más reducido para dispositivos móviles */
      }
  
  .language-switcher {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem; /* Ajusta el margen superior para alinear con el inicio del contenedor */
    margin-left: auto; /* Alinea a la derecha en modo móvil */ 
  }

}