

<div class="container-fluid p-0">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <!-- Navigation Links Section -->
      <div class="navbar-nav d-flex flex-row">
        <a class="nav-link" routerLink="/about-us">{{ 'NAVBAR.About_us' | translate }}</a>

        <!-- Links shown only when user is not logged in -->
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/login">{{ 'NAVBAR.Log_in' | translate }}</a>
        <a class="nav-link" *ngIf="!isLoggedIn" routerLink="/signup">{{ 'NAVBAR.Sign_up' | translate }}</a>

        <!-- Links shown only when user is logged in -->
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="/profile">{{ 'NAVBAR.My_profile' | translate }}</a>
        <button class="btn btn-link nav-link" *ngIf="isLoggedIn" (click)="logout()">{{ 'NAVBAR.Log_out' | translate }}</button>
      </div>
      <!-- Logo Section -->
      <a class="navbar-brand" href="#">
        <img class="logo" src="../../../assets/logo/logo_png.png" alt="">
      </a>
      <!-- Sección de cambio de idioma -->
      <div class="language-switcher ml-auto">
        <a class="nav-item nav-link" href="#" (click)="switch('en')">
          <img src="../../../assets/flags/UK-flag.png" alt="English" style="width: 30px;">
        </a>
        <a class="nav-item nav-link" href="#" (click)="switch('es')">
          <img src="../../../assets/flags/ESP-flag.png" alt="Español" style="width: 30px;">
        </a>
      </div>
    </div>
  </nav>
</div>
