.content-wrapper {
    max-width: 800px; /* Ajusta este valor según lo que consideres apropiado */
    margin: 50 auto;
    padding: 20px;
}

.extra-step label {
  display: block;
  margin-top: 10px;
}

.logo {
  width: 200px;
  height: auto;
}

.location-search-wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.location-search-input {
  width: 80% !important;
  margin-right: 2rem;
}