<div class="container d-flex justify-content-center flex-wrap">
    <h1 class="title">Querido usuario</h1>
    <div class="modal-content">
        <p>Nos complace ofrecerte Let´sTourTec de forma gratuita. Creemos firmemente en el valor que aporta y queremos que esté al alcance de todos.</p>
        <p>Al final de tu experiencia, te invitaremos a participar en una breve encuesta. Tu opinión es esencial para nosotros; es la brújula que guía nuestra mejora y evolución.</p>
        <p>Al invertir unos minutos en nuestra encuesta, contribuyes directamente a un futuro donde esta app no solo cumpla, sino que supere tus expectativas. Este esfuerzo conjunto nos permite construir algo mejor, juntos.</p>
        <p>Agradecemos sinceramente tu tiempo y tus opiniones. Juntos, alcanzaremos nuevas alturas.</p>
        <p>Con gratitud, Miguel y Mario</p>
    </div>
    <img src="../../../assets/modal/mario-miguel.jpg" alt="Bienvenida" class="modal-image">
    <div class="modal-footer d-flex justify-content-center mt-3">

        <button type="button" class="btn btn-primary" (click)="accept()" >Aceptar</button>
    </div>
    
 
</div>

