<div class="container d-flex justify-content-center flex-wrap p-3">
    <h1 class="title">Querido usuario</h1>
    <div class="content modal-content">
        <p class="text">Nos complace ofrecerte Let´sTourTec de forma gratuita. Creemos firmemente en el valor que aporta y queremos que esté al alcance de todos.
        <br>
        Al final de tu experiencia, te invitaremos a participar en una breve encuesta. Tu opinión es esencial para nosotros; es la brújula que guía nuestra mejora y evolución.
        <br>
        Al invertir unos minutos en nuestra encuesta, contribuyes directamente a un futuro donde esta app no solo cumpla, sino que supere tus expectativas. Este esfuerzo conjunto nos permite construir algo mejor, juntos.
        <br>
        Agradecemos sinceramente tu tiempo y tus opiniones. Juntos, alcanzaremos nuevas alturas.
        <br>
        Con gratitud, Miguel y Mario</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="../../../assets/modal/mario-miguel.jpg" alt="Bienvenida" class="modal-image mb-3">
    <div class="modal-footer d-flex justify-content-center mt-3">

        <button type="button" class="btn btn-primary" (click)="accept()" >Aceptar</button>
    </div>
</div>

