.modal-image {
    width: 65%; /* Ajusta el ancho de la imagen al contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-bottom: 150px; /* Espacio debajo de la imagen */
}
