<div class="container d-flex justify-content-center flex-wrap p-3">
    <h1 class="title">{{ "MSG-INICIO-MODAL.Querido_usuario" | translate }}</h1>
    <div class="content modal-content">
        <p class="text">{{ "MSG-INICIO-MODAL.Nos_complace_ofrecerte_Let´sTourTec_de_forma_gratuita._Creemos_firmemente_en_el_valor_que_aporta_y_queremos_que_esté_al_alcance_de_todos." | translate }}
        <br>
        {{ "MSG-INICIO-MODAL.Al_final_de_tu_experiencia,_te_invitaremos_a_participar_en_una_breve_encuesta._Tu_opinión_es_esencial_para_nosotros;_es_la_brújula_que_guía_nuestra_mejora_y_evolución." | translate }}
        <br>
        {{ "MSG-INICIO-MODAL.Invirtiendo_unos_minutos_en_nuestra_encuesta,_contribuyes_directamente_a_un_futuro_donde_esta_app_no_solo_cumpla,_sino_que_supere_tus_expectativas._Este_esfuerzo_conjunto_nos_permite_construir_algo_mejor,_juntos." | translate }}
        <br>
        {{ "MSG-INICIO-MODAL.Agradecemos_sinceramente_tu_tiempo_y_tus_opiniones._Juntos,_alcanzaremos_nuevas_metas." | translate }}
        <br>
        {{ "MSG-INICIO-MODAL.Con_gratitud,_Miguel_y_Mario." | translate }}</p>
    </div>
    <div class="d-flex flex-column align-items-center">
        <img src="../../../assets/modal/mario-miguel.jpg" alt="Bienvenida" class="modal-image mb-3">
    <div class="modal-footer d-flex justify-content-center mt-3">

        <button type="button" class="btn btn-primary" (click)="accept()" >{{ "MSG-INICIO-MODAL.Aceptar" | translate }}</button>
    </div>
</div>

