.modal-image {
    width: 45%;
    height: auto; 
    margin-top: 7.5px; 
}
.modal-content p {
    font-size: 11px;
}
.text{
    text-align: justify;
}
.modal-image{
    border-radius: 5px;
}

.content {
    overflow: auto;
    height: 200px;
    scrollbar-width: thin !important;
    scrollbar-color: #0d6efd;
}
.mb-3 {
    margin-bottom: 0rem!important;
}