.container-fluid{
    height: 85vh;
    width: 100%;
}
.row{
    width: 100%;
}
.maps{
    width: 90%;
    height: 900px;
}
.leaflet-routing-container{
   // z-index: 1 !important;
    position: fixed !important;
}

.custom-button-color {
    background-color: #0d6efd !important;

    & .mat-button-wrapper {
        color: white !important;
    }
}
.leaflet-control-zoom {
  z-index: 200 !important;
  
}


.leaflet-routing-container{
    position: absolute !important;
    margin-top: 10px!important;
    top: 20px;      
    right: 10px;    
    width: 25%;     
    z-index: 1;  
  }
  #prueba{
    pointer-events: none;
  }
  .input_map{
    width: 100%;
    height: 80%;
    z-index: 100;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  .maps{
    z-index: 0;
    
  }

.p-5 {
    padding: 0.5rem!important;
}
*, ::after, ::before {
  box-sizing:content-box
}
