<div class="container-fluid d-flex pt-5 flex-wrap">
    <div class="row d-flex justify-content-center">
        <div class="maps col-12" id="map"(click)="stopEvent($event)" ></div>
        <input class="input_map" type="text" disabled=true>
    </div>   
    <div class="row">  
        <div class="col-12">
            <div class="mt-5 d-flex justify-content-center">
                <button mat-raised-button color="primary" class="custom-button-color" routerLink="/stepper">I arrived, Let's tour </button>
            </div>
        </div>
    </div>
</div>

