<mat-card-header class="mb-3">
    <mat-card-title>My Tour Records</mat-card-title>
</mat-card-header>      

<div *ngFor="let tour of tourRecords" class="tour-record">
    <app-generic-card [toursdata]="[tour]"></app-generic-card>

    <div *ngIf="tour.valoraciones && tour.valoraciones.length" class="valoraciones-container">
      <mat-card class="valoracion-card">
        <div class="valoracion-header">
            <h3>Valoración:</h3>
         </div>

        <div *ngFor="let valoracion of tour.valoraciones" class="valoracion-content">
            
          <div class="valoracion-stars">
            <img *ngFor="let _ of [].constructor(valoracion.puntuacion); let i = index" 
                 src="../../../assets/iconos/star-mark-svgrepo-com.svg" 
                 alt="Estrella de valoración"
                 class="valoracion-estrella" />
          </div>
          <p class="valoracion-fecha">Fecha: {{ valoracion.fecha | date }}</p>
          <div *ngIf="valoracion.comentario " class="valoracion-text">
            <span>
              <div class="text_comment">
                Comentario:</div>{{ valoracion.comentario }}</span>           
          </div>
        </div>
      </mat-card>
    </div>
  </div>