<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card class="tour-card">
                    <mat-card-header class="p-0">     
                        <img class="image mt-2" mat-card-image src="../../../assets/iconos/exchange-change.svg" alt="Image"
                            routerLink="/admin-console">
                    </mat-card-header>
                    <mat-card-content class="content mt-2">
                        <mat-card-title class="center-title"
                            >Cambio de rol</mat-card-title>
                            <p class="card-text">Aquí puede realizar el cambio de rol de cualquier usuario si tiene permisos.</p>
                            
                    </mat-card-content>
                </mat-card>

            </mat-card>    

       </div>
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card class="tour-card">
                    <mat-card-header class="p-0">     
                        <img class="image mt-2" mat-card-image src="../../../assets/iconos/suitcase-fill.svg" alt="Image"
                            routerLink="/validate-console"  >
                    </mat-card-header>
                    <mat-card-content class="content mt-2">
                        <mat-card-title class="center-title"
                            >Validacion de tours</mat-card-title>
                            <p class="card-text">Aquí puede validar los tours.</p>
                            
                    </mat-card-content>
                </mat-card>

            </mat-card> 
        </div>
    </div>    
</div>