<div class="container-card  col-xxl-4 col-lg-6 col-md-12 d-flex justify-content-center">
    <mat-card class="search-card container-card">
        <div class="custom-header">
            {{ 'SEARCH-BAR.Plan_your_next_trip' | translate }}
        </div>
        <mat-card-content class="search-bar-row">
            <form class="search-form" (submit)="searchLocation(); $event.preventDefault();">
                <div class="d-flex flex-nowrap container_search">
                    <div class="input_search_container">
                        <input name="searchInput" class="search-input" [(ngModel)]="searchText" (input)="searchLocation()" type="text" placeholder="{{ 'SEARCH-BAR.Where_do_you_want_to_travel?' | translate }}" />
                    </div>
                    <div class="button_search" >
                        <button mat-raised-button class="custom-button-color" type="submit">{{ 'SEARCH-BAR.Search' | translate }}</button>
                    </div>           
                </div>          
                <div class="search-results" *ngIf="searchResults.length">
                    <div *ngFor="let result of searchResults" (click)="selectLocation(result)">
                        {{ result.display_name }}
                    </div>
                </div>               
            </form>            
        </mat-card-content>
    </mat-card>    
</div>  