.playback-bar {
    /* Agrega tus estilos aquí */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  