<div class="modal-dialog" style="max-width: none; width: 100%; margin: 0 auto;">
  <div class="modal-content">
      <div class="modal-header text-center">
          <h5 class="modal-title w-100">{{ "MAP-MODAL.Let's_go_to_the_next_point" | translate }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body mt-3" style="padding: 0;">
          <div id="mapa" style="width: 100%; height: 65vh; position: relative;"></div>
      </div>
      <div class="modal-footer d-flex justify-content-center mt-3">
          <button type="button" class="btn btn-primary" (click)="closeModal()">{{ "MAP-MODAL.I_arrived" | translate }}</button>
          <!-- Enlace a Google Maps con latitud y longitud -->
          <a href="https://www.google.com/maps?q={{lat}},{{long}}" target="_blank">
            <button type="button" class="btn btn-accent" style="color: #0d6efd;">{{ "MAPS.Prefer_Google_Maps?_Click_Here" | translate }}</button>
        </a>
      </div>
  </div>
</div>
