.container-detail {
    margin-top: 10px;
}

.image {
    height: 220px;
    img {
        width: 100%;
        border-radius: 20px;
    }
}

.row {
    width: 100%;
}

.subtitle {
    font-weight: bold;
}

.custom-button-color {
    background-color: #0d6efd !important;

    & .mat-button-wrapper {
        color: white !important;
    }
}

#map {
    height: 400px;
    /* Ajusta la altura según sea necesario */
}

.leaflet-routing-container {
    position: absolute !important;
    margin-top: 10px !important;
    top: 20px;
    right: 10px;
    width: 25%;
    z-index: 1;
}

#prueba {
    pointer-events: none;
}

.input_map {
    width: 100%;
    height: 80%;
    z-index: 100;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.maps {
    z-index: 0;
}

.container-detail {
    margin-top: 10px;
}

.mat-mdc-card {
    width: 100%;
    margin: auto;
    max-width: 98%;
    box-sizing: border-box;
}


.mat-mdc-card {
    max-width: 100%;
}

.p-5 {
    padding: 0.5rem !important;
}

mat-card {
    border-radius: 20px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.responsive-image {
    width: 100%; 
    height: 350px; 
    object-fit: contain; 
     
    object-position: center;
}

.espacio-entre-imagen-y-mapa {
    margin-top: 100px;
}
::ng-deep .votacion-modal {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px; 
  }
  
  ::ng-deep ngb-rating {
    margin-top: 0px; 
    margin-bottom: 15px;
  }
  
  ::ng-deep  ngb-rating > span {
    cursor: pointer;
    font-size: 40px; 
    margin-top: 0px;
    color: gold;
  }