<div class="container-detail p-5">
    <mat-card *ngIf="detail">
        <mat-card-header>
            <div class="d-flex flex-wrap justify-content-center w-100">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h1>{{detail.titulo}}</h1>
                    </div>
                </div>   
                <div class="image row mt-3 mb-3">
                    <div class="col-12 d-flex justify-content-center h-100">
                        
                        <img class="responsive-image" src='https://bucket-test-west2.s3.eu-west-2.amazonaws.com/{{detail.imagen}}' alt=""> 
                    </div>                
                </div> 
                <p></p>         
                <div class="maps col-12 espacio-entre-imagen-y-mapa" id="map"></div>

            </div>            
        </mat-card-header> 
        <mat-card-content>
            <div class="w-100 mt-4">
                <span  class="subtitle">Calificación:</span>
                <ngb-rating [rate]="detail.valoracion" [max]="5"></ngb-rating>
            </div>            
            <div class="row mt-2">
                <div class="col-12">
                    <span  class="subtitle">{{ "TOUR-DETAIL.Created_at" | translate }}: </span> <br>
                    <span>{{detail.created_at | date :'MM/yyyy'}}</span>
                </div> 
                 <div class="col-12">
                    <hr>
                    <span  class="subtitle">{{ 'TOUR-DETAIL.Description' | translate }}: </span>                    
                       <p>{{detail.descripcion}}</p>  <br>
                   </div>
                <hr>
                <div class="col-12">
                   <span class="subtitle">{{ 'TOUR-DETAIL.Duration' | translate }}: </span> {{detail.duracion}} min.
                    <hr>
                    <span class="subtitle">{{ 'TOUR-DETAIL.Covered_distance' | translate }}: </span> {{detail.recorrido}} km                   
                </div>
                <hr>
                <div class="col-12">
                    <span class="subtitle">{{ 'TOUR-DETAIL.Average_Rating' | translate }}: </span>
                    <span *ngIf="mediaPuntuacion !== null">{{ mediaPuntuacion }}</span>
                    <span *ngIf="mediaPuntuacion === null">{{ "TOUR-DETAIL.Loading" | translate }}</span>
                </div>
            </div>
            <hr>
            <div class="d-flex justify-content-center mt-3">
                <button mat-raised-button color="primary" class="custom-button-color" (click)="letsTour(detail)">{{ "TOUR-DETAIL.Let's_tour" | translate }}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
