<div class="container-fluid">
    <mat-card *ngIf="detail">
        <mat-card-header>
            <div class="d-flex flex-wrap justify-content-center w-100">
                <div class="row">
                    <div class="col-12 d-flex justify-content-center">
                        <h1>{{detail.titulo}}</h1>
                    </div>
                </div>   
                <div class="image row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <img src={{image_url}} alt=""> 
                    </div>                
                </div>
            </div>                       
        </mat-card-header> 
        <mat-card-content>
            <div class="row mt-4">
                <div class="col-12">
                    <span  class="subtitle">Created at:</span> <br>
                    <span>{{detail.created_at | date :'longDate'}}</span>
                </div> 
                 <div class="col-12">
                    <hr>
                    <span  class="subtitle">Description:</span>                    
                        {{detail.descripcion}} <br>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis magnam sapiente numquam deleniti quam perspiciatis reprehenderit distinctio delectus nobis asperiores qui, repellendus atque fugiat eligendi vel. Maxime sint laboriosam sapiente?
                    </p>
                </div>
                <div class="col-6">
                   <span  class="subtitle">Lat:</span> {{detail.latitude}} <hr>
                   <span  class="subtitle">Long:</span> {{detail.longitude}}
                </div>  
                <div class="col-6">
                   <span class="subtitle">Duration:</span> {{detail.duracion}} m
                    <hr>
                    <span class="subtitle">Covered distance: </span> {{detail.recorrido}} km                   
                </div>
            </div>
            <div class="d-flex justify-content-center mt-3">
                <button mat-raised-button color="primary" class="custom-button-color" (click)="letsTour()">Let's tour</button>
            </div>
        </mat-card-content>
    </mat-card >
</div>