{% extends 'base.html' %}

{% load static %}
{% block content %}
<style>
  .custom-tour-row {
    display: flex;
    justify-content: center;
  }

</style>
<div class="container px-4 py-5" id="custom-cards">
<button class="btn btn-primary" id="sort-button" onclick="toggleSortByDistance()">Sort by distance</button>
  <h1 class="my-4">All tours</h1>
</div>
  <div class="row" id="all-tours-container">
    <div id="tours-wrapper"></div>
  </div>
  
  <script>
    let currentLatitude = 0;
    let currentLongitude = 0;
    let sortByDistance = false;

    function createTourElement(tour, showDistance=false) {
        console.log('createTourElement', tour, showDistance);
        let formattedDistance;
        if (tour.distance !== null) {
        formattedDistance = tour.distance.toFixed(2);
    } else {
        formattedDistance = "No disponible";
    }
      const div = document.createElement("div");
      div.className = "feature col col-lg-4";
      div.id = "tour-" + tour.id;
      div.setAttribute("data-tipo-de-tour", tour.tipo_de_tour);

      let distanceLine = "";
  if (showDistance) {
    const formattedDistance = tour.distance !== null ? tour.distance.toFixed(2) : "No disponible";
    distanceLine = `<p>Distance to start point: ${formattedDistance} km</p>`;
  }

      const tourTypeIcons = {
        ocio: "bi-geo-fill",
        naturaleza: "bi-flower3",
        cultural: "bi-building",
      };
        console.log('Creating tour element for tour:', tour);
      const icon = tourTypeIcons[tour.tipo_de_tour] || "geo-fill";

      const imageUrl = tour.imagen && tour.imagen.url ? tour.imagen.url : (tour.imagen ? tour.imagen : "{% static 'image-not-found-1-scaled-1150x647.png' %}");
      if (showDistance) {
            div.setAttribute('data-distance', tour.distance);
        }
        
      div.innerHTML = `
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
            <i class="${icon}"></i>
        </div>
        <h3 class="fs-2">
          <a href="/tour/${tour.id}/">${tour.titulo}</a>
        </h3>
        <img src="${imageUrl}" alt="${tour.titulo}" width="300" height="200" id="tour-image-${tour.id}" style="margin-top: 10px;">
        <p id="tour-description-${tour.id}">${tour.descripcion}</p>
        <p>Length: ${parseFloat(tour.duracion / 60).toFixed(2)} h</p>
        <p>Distance: ${tour.recorrido} km</p>
        ${distanceLine}
      `;


      return div;
    }
    const toursWrapper = document.getElementById('tours-wrapper');
function loadAllTours(latitude = currentLatitude, longitude = currentLongitude, page = 1, callback = null) {
  console.log('loadAllTours', latitude, longitude, page); 
  const xhr = new XMLHttpRequest();

  let latParam = sortByDistance && latitude !== 0 ? latitude : null;
  let lngParam = sortByDistance && longitude !== 0 ? longitude : null;

  if (latitude !== 0 && longitude !== 0) {
    latParam = sortByDistance && latitude !== null ? latitude : 'None';
    lngParam = sortByDistance && longitude !== null ? longitude : 'None';
  }

  const baseUrl = `/get_nearest_tours_all/?page=${page}`;
  const url = latParam !== null && lngParam !== null ? `${baseUrl}&latitude=${latParam}&longitude=${lngParam}` : baseUrl;

  xhr.open('GET', url, true);

  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      const response = JSON.parse(xhr.responseText);
      const tours = response.tours;
      const totalPages = response.total_pages;
      console.log('Processing response:', response);

      // Limpia el contenedor de tours (no necesario)
      toursWrapper.innerHTML = '';

      //for (const tourData of tours) {
      //  const tourElement = createTourElement(tourData, true);
      //  toursWrapper.appendChild(tourElement); // Cambiado aquí
      //}
      let row;
      for (let i = 0; i < tours.length; i++) {
        const tourData = tours[i];
        const tourElement = createTourElement(tourData, sortByDistance);

        if (i % 2 === 0) {
          row = document.createElement("div");
          row.className = "row custom-tour-row";
          document.getElementById("tours-wrapper").appendChild(row);
        }

        row.appendChild(tourElement);
      }
      /*
      for (const tourData of tours) {
        const tourElement = createTourElement(tourData, sortByDistance);
        document.getElementById("tours-wrapper").appendChild(tourElement);
      }
*/
      console.log('Processing response:', response);
      updatePagination(page, totalPages);
      
      // Ejecute la función de devolución de llamada (callback) si se proporciona
      if (callback) {
        callback();
      }
    }
  };
  xhr.send();
}
    
    function sortToursByDistance() {
        const tourElements = Array.from(document.querySelectorAll('.feature'));
  tourElements.sort((a, b) => {
    const distanceA = parseFloat(a.getAttribute('data-distance')) || Number.MAX_VALUE;
    const distanceB = parseFloat(b.getAttribute('data-distance')) || Number.MAX_VALUE;
    return distanceA - distanceB;
  });

  const container = document.getElementById('tours-wrapper');
  container.innerHTML = '';
  //tourElements.forEach(tourElement => container.appendChild(tourElement));
  let row;
  for (let i = 0; i < tourElements.length; i++) {
    const tourElement = tourElements[i];

    if (i % 2 === 0) {
      row = document.createElement("div");
      row.className = "row";
      container.appendChild(row);
    }

    row.appendChild(tourElement);
  }
}


if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    currentLatitude = position.coords.latitude;
    currentLongitude = position.coords.longitude;
    loadAllTours(currentLatitude, currentLongitude);
  }, function(error) {
    console.log("Error al obtener la geolocalización. Cargando todos los tours sin ordenar por distancia.");
    loadAllTours();
  });
} else {
  console.log("La geolocalización no es compatible con este navegador. Cargando todos los tours sin ordenar por distancia.");
  loadAllTours();
}
function updatePagination(currentPage, totalPages) {
  console.log('updatePagination', currentPage, totalPages);
  const paginationElement = document.querySelector('.pagination');
  paginationElement.innerHTML = '';

  for (let i = 1; i <= totalPages; i++) {
    const pageItem = document.createElement('li');
    pageItem.className = 'page-item' + (i === currentPage ? ' active' : '');
    pageItem.innerHTML = `<a class="page-link" href="#" data-page="${i}">${i}</a>`;
    paginationElement.appendChild(pageItem);
  }

  paginationElement.querySelectorAll(".page-link").forEach((link) => {
  link.addEventListener("click", (event) => {
    event.preventDefault();
    const page = parseInt(event.target.getAttribute("data-page"));
    console.log("Pagination click", page);
    const container = document.getElementById("tours-wrapper");
    container.innerHTML = "";

      if (sortByDistance) {
        loadAllTours(currentLatitude, currentLongitude, page, function() {
          sortToursByDistance();
        });
      } else {
        loadAllTours(currentLatitude, currentLongitude, page);
      }
    });
  });
}


function toggleSortByDistance() {
  sortByDistance = !sortByDistance;
  document.getElementById("sort-button").innerHTML = sortByDistance ? "Disable sort by distance" : "Sort by distance";
  
  document.getElementById("sort-button").classList.toggle("btn-primary");
  document.getElementById("sort-button").classList.toggle("btn-secondary");
  
/*
  if (sortByDistance) {
    loadAllTours(currentLatitude, currentLongitude, 1, function() {
      sortToursByDistance();
    });
  } else {
    toursWrapper.innerHTML = '';
    loadAllTours(currentLatitude, currentLongitude);
  }
}

*/

const container = document.getElementById("tours-wrapper");
//row.className = "row custom-tour-row";
  container.innerHTML = "";

  if (sortByDistance) {
    loadAllTours(currentLatitude, currentLongitude, 1, function () {
      sortToursByDistance();
      adjustTourLayout();
    });
  } else {
    loadAllTours(currentLatitude, currentLongitude, 1);
  }
}
function adjustTourLayout() {
  const tourElements = document.querySelectorAll('.feature');
  let row;

  for (let i = 0; i < tourElements.length; i++) {
    const tourElement = tourElements[i];

    if (i % 2 === 0) {
      row = document.createElement("div");
      row.className = "row custom-tour-row";
      document.getElementById("tours-wrapper").appendChild(row);
    }

    row.appendChild(tourElement);
  }
}


  </script>
  <div class="container px-4 py-5" id="custom-cards">
    <nav>
      <ul class="pagination">
        <!-- Los elementos de la paginación se añadirán aquí mediante JavaScript -->
      </ul>
    </nav>
  </div>
{% endblock %}