<div class="container-fluid mt-5 d-flex justify-content-center">
    <mat-card class="container-card" *ngIf="profile">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>Profile</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">
            <div class="user-details">
                <div class="profile-picture">
                    <img [src]="profile.avatar || '../../../assets/iconos/Default-Profile-Picture-PNG-Transparent-Image.png'" alt="Profile Picture" class="profile-img">                    
                </div>
                <h3>Welcome back {{ profile.first_name }} {{ profile.last_name }}!!</h3>
                <div class="content">
                    <ul>
                        <li><span class="subtitle">Email: </span>{{ profile.email }}</li>
                        <li><span class="subtitle">Biography: </span>{{ profile.bio }}</li>
                        <li><span class="subtitle">Location: </span>{{ profile.location }}</li>
                        <li><span class="subtitle">Interests: </span>{{ profile.interests?.join(', ') ?? 'None' }}</li>

                    </ul>
                    
                </div>
            </div>
        </mat-card-content>
    </mat-card>    
</div>