<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>{{ "ABOUTUS.About_Us" | translate }}</h2>
        </div>
        <div class="card-body">
                        <!-- Sección Equipo -->
                        <div class="about-section">
                            <h3 class="card-title">{{ "ABOUTUS.Our_Team" | translate }}</h3>
                            <div class="team-members">
            
                                <div class="team-member card">
                                    <img class="card-img-top" src="../../../assets/about-us/team.jpg" alt="TEAM">
                                    <div class="card-body">
                                        <!--<h4 class="card-title">LetsTourTec</h4>
                                        <p class="card-text">Breve biografía o rol en la empresa.</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Sección Historia -->
            <div class="about-section">
                <h3 class="card-title">{{ "ABOUTUS.Our_History" | translate }}</h3>
                    <p class="card-text">{{ "ABOUTUS.In_the_heart_of_Spain's_picturesque_landscapes,_a_vision_was_born_in_June_2023,_conceived_by_two_passionate_individuals_from_Valladolid._United_by_their_deep_admiration_for_Spain's_rural_beauty_and_the_charm_of_its_tourism,_they_embarked_on_a_journey_to_transform_how_people_explore_this_magnificent_country." | translate }}</p>

                    <p class="card-text">{{ "ABOUTUS.Their_idea_was_simple_yet_profound:_to_make_discovering_every_nook_and_cranny_of_Spain_not_just_possible,_but_effortlessly_accessible._These_two_entrepreneurs,_with_their_roots_firmly_planted_in_the_rich_Spanish_culture,_saw_an_opportunity_to_bridge_the_gap_between_the_hidden_gems_of_the_countryside_and_those_who_yearn_to_uncover_them." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.They_believed_that_the_essence_of_Spain_lay_in_its_diverse_and_often_unexplored_rural_areas._Their_mission_was_to_bring_these_hidden_jewels_to_the_forefront,_allowing_people_to_experience_the_authentic_Spain_-_a_land_of_vibrant_festivals,_ancient_traditions,_and_breathtaking_landscapes,_all_waiting_to_be_discovered." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.As_they_embarked_on_this_journey,_they_were_driven_by_a_commitment_to_sustainability_and_a_desire_to_showcase_the_rural_heritage_in_a_way_that_respects_and_preserves_its_beauty_for_generations_to_come._They_sought_to_create_not_just_a_business,_but_a_movement_that_encourages_exploration,_cultural_immersion,_and_a_deeper_appreciation_for_Spain's_rural_splendor." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.Today,_their_dream_has_begun_with_this_app_that_connects_travelers_with_the_heart_and_soul_of_Spain._They_continue_to_innovate_and_expand,_driven_by_their_love_for_the_country_and_their_dedication_to_sharing_its_wonders_with_the_world." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.Join_us_in_celebrating_the_spirit_of_Spain,_as_we_journey_together_through_its_enchanting_rural_landscapes,_one_adventure_at_a_time." | translate }}</p>
            </div>

            <!-- Sección Misión y Visión -->
            <div class="about-section">
                <h3 class="card-title">{{ "ABOUTUS.Mission" | translate }}</h3>
                    <p class="card-text">{{ "ABOUTUS.At_LetsTourTec,_our_mission_is_to_bridge_the_gap_between_travelers_and_the_authentic,_diverse_essence_of_Spain._We_are_committed_to_unveiling_the_magic_of_its_rural_corners,_offering_a_window_into_the_traditions,_culture,_and_landscapes_that_make_this_country_unique." | translate }}</p>

                    <p class="card-text">{{ "ABOUTUS.We_firmly_believe_that_the_true_spirit_of_Spain_resides_in_its_hidden_villages,_traditional_festivals,_and_warm,_welcoming_people._That’s_why_we_strive_to_facilitate_travel_experiences_that_are_not_only_memorable_but_also_foster_a_deep_respect_and_appreciation_for_Spain’s_rich_cultural_and_natural_heritage." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.Our_focus_is_on_sustainability_and_responsible_tourism._We_aim_to_ensure_that_our_activities_benefit_local_communities,_preserving_their_way_of_life_and_natural_environment_for_future_generations._At_the_same_time,_we_want_every_traveler_who_ventures_with_us_to_take_away_a_piece_of_Spain's_soul,_creating_lasting_and_meaningful_connections." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.At_LetsTourTec,_we_don’t_just_organize_trips;_we_create_bridges_of_understanding_and_admiration_between_different_cultures._Our_goal_is_for_each_exploration_to_be_an_enriching,_educational,_and_absolutely_unforgettable_adventure,_leaving_our_clients_with_an_enduring_love_for_the_beauty_and_diversity_of_Spain." | translate }}</p>
                    
                    <p class="card-text">{{ "ABOUTUS.Join_us_in_this_mission_of_discovery_and_love_for_Spain,_as_we_take_you_on_an_unforgettable_journey_through_its_most_treasured_secrets." | translate }}</p>
            </div>



            <!-- Secciones adicionales según se requiera -->
        </div>
    </div>
</div>
