.about-us-section {
    background-color: #f5f5f5;
    padding: 20px;

}
.about-section {
    margin-bottom: 50px; /* Aumenta el espacio en la parte inferior de cada sección */
}


.card {
    background-color: #fff;
    box-shadow: #0d6efd;
    margin-bottom: 20px;
}

.card-header {
    background-color: #0d6efd;
    color: #fff;
    padding: 10px 15px;
}

.card-title {
    color: #0d6efd; /* Cambia el color a azul */
    font-weight: bold; /* Hace el texto en negrita */
    font-size: 24px; /* Aumenta el tamaño del texto */
}

.team-member {
    margin-bottom: 15px;
}

.team-member .card-img-top {
    width: 100%; /* Aumenta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */

}

.card-text {
    text-align: justify;
}
