<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>About Us</h2>
        </div>
        <div class="card-body">
                        <!-- Sección Equipo -->
                        <div class="about-section">
                            <h3 class="card-title">Our Team</h3>
                            <div class="team-members">
            
                                <div class="team-member card">
                                    <img class="card-img-top" src="../../../assets/about-us/team.jpg" alt="TEAM">
                                    <div class="card-body">
                                        <!--<h4 class="card-title">LetsTourTec</h4>
                                        <p class="card-text">Breve biografía o rol en la empresa.</p>-->
                                    </div>
                                </div>
                            </div>
                        </div>
            <!-- Sección Historia -->
            <div class="about-section">
                <h3 class="card-title">Our History</h3>
                <p class="card-text">In the heart of Spain's picturesque landscapes, a vision was born in June 2023, conceived by two passionate individuals from Valladolid. United by their deep admiration for Spain's rural beauty and the charm of its tourism, they embarked on a journey to transform how people explore this magnificent country.</p>

                    <p class="card-text">Their idea was simple yet profound: to make discovering every nook and cranny of Spain not just possible, but effortlessly accessible. These two entrepreneurs, with their roots firmly planted in the rich Spanish culture, saw an opportunity to bridge the gap between the hidden gems of the countryside and those who yearn to uncover them.</p>
                    
                    <p class="card-text">They believed that the essence of Spain lay in its diverse and often unexplored rural areas. Their mission was to bring these hidden jewels to the forefront, allowing people to experience the authentic Spain - a land of vibrant festivals, ancient traditions, and breathtaking landscapes, all waiting to be discovered.</p>
                    
                    <p class="card-text">As they embarked on this journey, they were driven by a commitment to sustainability and a desire to showcase the rural heritage in a way that respects and preserves its beauty for generations to come. They sought to create not just a business, but a movement that encourages exploration, cultural immersion, and a deeper appreciation for Spain's rural splendor.</p>
                    
                    <p class="card-text">Today, their dream has begun with this app that connects travelers with the heart and soul of Spain. They continue to innovate and expand, driven by their love for the country and their dedication to sharing its wonders with the world.</p>
                    
                    <p class="card-text">Join us in celebrating the spirit of Spain, as we journey together through its enchanting rural landscapes, one adventure at a time.</p>
            </div>

            <!-- Sección Misión y Visión -->
            <div class="about-section">
                <h3 class="card-title">Mission</h3>
                <p class="card-text">At LetsTourTec, our mission is to bridge the gap between travelers and the authentic, diverse essence of Spain. We are committed to unveiling the magic of its rural corners, offering a window into the traditions, culture, and landscapes that make this country unique.</p>

                    <p class="card-text">We firmly believe that the true spirit of Spain resides in its hidden villages, traditional festivals, and warm, welcoming people. That’s why we strive to facilitate travel experiences that are not only memorable but also foster a deep respect and appreciation for Spain’s rich cultural and natural heritage.</p>
                    
                        <p class="card-text">Our focus is on sustainability and responsible tourism. We aim to ensure that our activities benefit local communities, preserving their way of life and natural environment for future generations. At the same time, we want every traveler who ventures with us to take away a piece of Spain's soul, creating lasting and meaningful connections.</p>
                    
                            <p class="card-text">At LetsTourTec, we don’t just organize trips; we create bridges of understanding and admiration between different cultures. Our goal is for each exploration to be an enriching, educational, and absolutely unforgettable adventure, leaving our clients with an enduring love for the beauty and diversity of Spain.</p>
                    
                                <p class="card-text">Join us in this mission of discovery and love for Spain, as we take you on an unforgettable journey through its most treasured secrets.</p>
            </div>



            <!-- Secciones adicionales según se requiera -->
        </div>
    </div>
</div>
