<div class="upload-tour-container">
    <mat-card class="container-card" [style.opacity]="loading ? 0.5 : 1">
        <mat-card-header>
            <mat-card-title>Subir Tour</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="tourForm" (ngSubmit)="submitTour()">                
                <div class="form-field">
                    <p>Tipo de tour</p>
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="tipo_de_tour">
                            <mat-option *ngFor="let option of opciones" [value]="option.value">{{ option.viewValue }}</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Idiomas a los que traducir</p>
                    <mat-form-field appearance="fill">
                        <mat-select formControlName="tipo_de_tour">
                            <mat-option *ngFor="let option of opciones_idioma" [value]="option.value">{{ option.viewValue }}</mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Título</p>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="titulo">
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Descripción</p>
                    <mat-form-field appearance="fill">
                        <textarea matInput formControlName="descripcion"></textarea>
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Imagen del tour</p>
                    <input #imagenInput type="file" (change)="onFileSelect($event, 'imagen')" accept="image/*" hidden>
                    <button mat-button (click)="imagenInput.click()" type="button">Seleccionar archivo</button>
                    <span id="nombreImagen"></span> 
                </div>
                
                  

                <div class="form-field">
                    <p>Audio del tour</p>
                    <input #audioInput type="file" (change)="onFileSelect($event, 'audio')" accept="audio/*" hidden>
                    <button mat-button (click)="audioInput.click()" type="button">Seleccionar archivo</button>
                    <span id="nombreAudio"></span> 
                </div>

                <div class="form-field">
                    <p>Latitud</p>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="latitude" type="number">
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Longitud</p>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="longitude" type="number">
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Duración (minutos)</p>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="duracion" type="number">
                    </mat-form-field>
                </div>

                <div class="form-field">
                    <p>Recorrido (km)</p>
                    <mat-form-field appearance="fill">
                        <input matInput formControlName="recorrido" type="number">
                    </mat-form-field>
                </div>


                <div formArrayName="extraSteps">
                    <div *ngFor="let extraStep of extraSteps.controls; let i = index" [formGroupName]="i">
                        
                        <div class="form-field">
                            <p>Titulo del paso extra {{ i + 1 }}</p>
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="tittle">
                            </mat-form-field>
                        </div>
                        
                        
                        <!-- Input para la imagen del paso extra -->
                        <div class="form-field">
                            <p>Imagen del paso extra {{ i + 1 }}</p>
                            <input #imagenInput type="file" (change)="onFileSelect($event, 'extraSteps.'+i+'.image')" accept="image/*" hidden>
                            <button mat-button (click)="imagenInput.click()" type="button">Seleccionar archivo</button>
                            <span id="{{'nombreImagenExtra' + i}}"></span>
                        </div>
                        <!-- Input para el audio del paso extra -->
                        <div class="form-field">
                            <p>Audio del paso extra {{ i + 1 }}</p>
                            <input #audioInput type="file" (change)="onFileSelect($event, 'extraSteps.'+i+'.audio')" accept="audio/*" hidden>
                            <button mat-button (click)="audioInput.click()" type="button">Seleccionar archivo</button>
                            <span id="{{'nombreAudioExtra' + i}}"></span>
                        </div> 
                                                
                        <div class="form-field">
                            <p>Latitud extra {{ i + 1 }}</p>
                            <mat-form-field appearance="fill">
                                <input matInput type="number" [formControlName]="'latitude'">
                            </mat-form-field>
                        </div>
                        
                        <div class="form-field">
                            <p>Longitud extra {{ i + 1 }}</p>
                            <mat-form-field appearance="fill">
                                <input matInput type="number" [formControlName]="'longitude'">
                            </mat-form-field>
                        </div>

                        <div class="form-field">
                            <p>Descripción {{ i + 1 }}</p>
                            <mat-form-field appearance="fill">
                                <input matInput formControlName="description">
                            </mat-form-field>
                        </div>
                        
                        
                        <!-- Botón para remover el paso extra, si se requiere -->
                        <button mat-mini-fab color="warn" (click)="removeExtraStep(i)">
                            <mat-icon>-</mat-icon>
                        </button>
                        
                    </div>
                </div>

                <div class="tour-actions">
                    <button mat-raised-button color="primary" type="button" (click)="addExtraStep()">Añadir un paso extra</button>
                    <button mat-raised-button color="primary" type="submit">Subir tour</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="text-center m-4 spinner" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
</div>
