<div class="container-fluid mt-5 d-flex justify-content-center">
    <mat-card class="container-card" *ngIf="profile">
        <mat-card-header class="d-flex justify-content-center">
            <mat-card-title>{{ 'PROFILE.My_profile' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-3">
            <div class="user-details">
                <div class="profile-picture">
                    <img [src]="profile.avatar || '../../../assets/iconos/Default-Profile-Picture-PNG-Transparent-Image.png'" alt="Profile Picture" class="profile-img">
                    <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;">
                </div>
                <h3>{{ 'PROFILE.Welcome_back' | translate }} {{ profile.first_name }} {{ profile.last_name }}!</h3>
                <div class="content">
                    <ul>
                        <li><span class="subtitle">{{ 'PROFILE.Email' | translate }}: </span>{{ profile.email }}</li>
                        <li><span class="subtitle">{{ 'PROFILE.Biography' | translate }}: </span>{{ profile.bio }}</li>
                        <li><span class="subtitle">{{ 'PROFILE.Location' | translate }}: </span>{{ profile.location }}</li>
                        <li><span class="subtitle">{{ 'PROFILE.Interests' | translate }}: </span>{{ profile.interests?.join(', ') ?? ('PROFILE.None' | translate) }}</li>
                    </ul>
                </div>
            </div>
            <div class="user-actions d-flex justify-content-center mt-5">
                <button mat-raised-button color="primary" class="custom-button-color" (click)="uploadTour()">{{ 'PROFILE.Upload_tour' | translate }}</button>
                <button mat-raised-button color="primary" class="custom-button-color" routerLink="/edit-profile" (click)="editProfile()">{{ 'PROFILE.Edit_profile' | translate }}</button>
                <button mat-raised-button color="primary" class="custom-button-color" routerLink="/history-tours" (click)="History()">{{ 'PROFILE.History_tours' | translate }}</button>
                <button mat-raised-button color="primary" class="custom-button-color" routerLink="/my-tours" (click)="toursUploaded()">{{ 'PROFILE.Tours_uploaded' | translate }}</button>
            </div>
        </mat-card-content>
    </mat-card>
</div>
