<div class="titulo-modal">
    <h2 mat-dialog-title>{{ 'VOTAR.¿Qué_te_pareció_este_tour?' | translate }}</h2>
    <p>{{ 'VOTAR.Tu_opinión_nos_importa' | translate }}</p>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="votacion-modal">
        <ngb-rating [(rate)]="calificacion" [max]="5" (rateChange)=" onRate($event)" (hover)="onHover($event)"></ngb-rating>

        <div class="mensaje-hover">{{ mensajeHover }}</div>
    </div>


<mat-form-field appearance="fill" class="form-field">
  <mat-label>{{ 'VOTAR.¿Alguna_crítica_o_felicitación?' | translate }}</mat-label>
  <textarea matInput [(ngModel)]="comentario" placeholder="{{ 'VOTAR.¡Podrías_ayudar_al_guía_y_próximos_TOURistas!' | translate }}"></textarea>
</mat-form-field>
  
    
  
  <mat-dialog-actions class="acciones-modal">
    <button mat-raised-button color="secondary" mat-dialog-close>{{ 'VOTAR.Cancelar' | translate }}</button>
    <button mat-raised-button color="primary" (click)="enviarVotacion()" cdkFocusInitial>{{ 'VOTAR.Votar' | translate }}</button>
  </mat-dialog-actions>
   