<div class="ppal-container d-flex justify-content-center">
  <div class="container-login text-center">
      <div class="row mb-3">
          <div class="col">
              <div class="col-12">
                  <h2 data-cy="loginTitle">Sign up</h2>
              </div>
          </div>
      </div>
      <div class="row card" id="card-login">
          <div class="card-body" id="card-login-body">
              <form class="form" role="form" [formGroup]="loginForm">
                  <div class="row mb-3 g-0">
                      <div class="col-2 label-login">
                          <label class="username-label" for="firstName">First Name</label>
                      </div>
                      <div class="col-3">
                          <input type="text" class="form-control" name="firstName" id="login-firstName" placeholder="First Name" formControlName="firstName" data-cy="firstName" />
                      </div>
                      <div class="col-2 label-login">
                          <label class="username-label" for="lastName">Last Name</label>
                      </div>
                      <div class="col-3">
                          <input type="text" class="form-control" name="lastName" id="login-lastName" placeholder="Last Name" formControlName="lastName" data-cy="lastName" />
                      </div>
                  </div>
                  <div class="row mb-3">
                      <div class="col-2 label-login">
                          <label for="email">Email</label>
                      </div>
                      <div class="col-8">
                          <input type="email" class="form-control" name="email" id="login-email" placeholder="Email" formControlName="email" data-cy="email" />
                      </div>
                  </div>
                  <div class="row mb-3 g-0">
                      <div class="col-2 label-login">
                          <label for="password">Password</label>
                      </div>
                      <div class="col-3">
                          <input type="password" class="form-control" name="password" id="login-password" placeholder="Password" formControlName="password" data-cy="password" />
                      </div>
                      <div class="col-2 label-login">
                          <label for="repeatPassword">Repeat Password</label>
                      </div>
                      <div class="col-3">
                          <input type="password" class="form-control" name="repeatPassword" id="login-repeatPassword" placeholder="Repeat Password" formControlName="repeatPassword" data-cy="repeatPassword" />
                      </div>
                  </div>
                  <button mat-raised-button class="login button" type="submit" data-cy="submit">Register</button>
              </form>
          </div>
      </div>
  </div>
</div>
