
<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>¡Muchas gracias por hacer TOURismo con nosotros!</h2>
        </div>
        <div class="card-body">
            <div class="about-section">
                <h3 class="card-title">Esperamos que hayas disfrutado de tu aventura y hayas aprendido muchas cosas...</h3>
                <p class="card-text">Recuerda que hay más tours a tu disposición para que puedas seguir explorando</p>
            </div>
            <div class="about-section">
                <h3 class="card-title">Mantente en contacto</h3>
                <p class="card-text">Agradeceríamos que realizaras una pequeña encuesta para ayudarnos a mejorar</p>
            </div>
        </div>
    </div>
</div>

<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Encuesta</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="submitSurvey()">


                <!-- Sección de preguntas sobre el usuario -->
                <div class="user-questions">
                    <h3 class="card-title">Preguntas sobre el usuario</h3>
                    <div class="mb-3"></div>
                    <div class="form-group">
                        <label for="pregunta1">1. Edad: </label>
                        <input type="text" class="form-control" id="pregunta1" name="pregunta1">
                    </div>
                    <div class="form-group">
                        <label for="pregunta2">2. Género:</label>
                        <select class="form-control" id="pregunta2" name="pregunta2">
                            <option value="" disabled selected>Seleccione su género...</option>
                            <option>Masculino</option>
                            <option>Femenino</option>
                            <option>Prefiero no decirlo</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta3">3. Nacionalidad:</label>
                        <select class="form-control" id="pregunta3" name="pregunta3">
                            <option value="" disabled selected>Seleccione su nacionalidad...</option>
                            <option>Española</option>
                            <option>Otra</option>
                        </select>
                        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta3-1" name="subpregunta3-1" placeholder="Si es otra, ¿cuál?">
                    </div>
                    <div class="form-group">
                        <label for="pregunta4">4. ¿Cuántos viajes haces al año?</label>
                        <select class="form-control" id="pregunta4" name="pregunta4">
                            <option value="" disabled selected>Seleccione la cantidad de viajes...</option>
                            <option>Menos de 3</option>
                            <option>Entre 3 y 5</option>
                            <option>Más de 5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta5">5. ¿Y cuántos tours haces al año?</label>
                        <select class="form-control" id="pregunta5" name="pregunta5">
                            <option value="" disabled selected>Seleccione la cantidad de tours...</option>
                            <option>Menos de 3</option>
                            <option>Entre 3 y 5</option>
                            <option>Más de 5</option>
                        </select>
                    </div>
                </div>
                <div class="mb-3"></div>
                
                <!-- Sección de preguntas sobre el producto -->
                <div class="product-questions">
                    <h3 class="card-title">Preguntas sobre el producto</h3>
                    <div class="mb-3"></div>
                    <div class="form-group">
                        <label for="pregunta6">6. Valora el tour realizado:</label>
                        <select class="form-control" id="pregunta6" name="pregunta6">
                            <option value="" disabled selected>Seleccione su valoración...</option>
                            <option>Muy poco satisfecho</option>
                            <option>Poco satisfecho</option>
                            <option>Normal</option>
                            <option>Satisfecho</option>
                            <option>Muy satisfecho</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta7">7. Valora el contenido del tour realizado:</label>
                        <select class="form-control" id="pregunta7" name="pregunta7">
                            <option value="" disabled selected>Seleccione su valoración...</option>
                            <option>Muy poco satisfecho</option>
                            <option>Poco satisfecho</option>
                            <option>Normal</option>
                            <option>Satisfecho</option>
                            <option>Muy satisfecho</option>
                        </select>
                        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta7" name="subpregunta7" placeholder="¿Qué otro tipo de contenido te gustaría encontrar?">
                    </div>
                    <div class="form-group">
                        <label for="pregunta8">8. Valora el formato en el que se ha presentado el tour:</label>
                        <select class="form-control" id="pregunta8" name="pregunta8">
                            <option value="" disabled selected>Seleccione su valoración...</option>
                            <option>Muy poco satisfecho</option>
                            <option>Poco satisfecho</option>
                            <option>Normal</option>
                            <option>Satisfecho</option>
                            <option>Muy satisfecho</option>
                        </select>
                        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta8-1" name="subpregunta8-1" placeholder="¿Qué es lo que más te ha gustado?">
                        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta8-2" name="subpregunta8-2" placeholder="¿Y lo que menos?">
                    </div>
                    <div class="form-group">
                        <label for="pregunta9">9. Valora la duración del tour:</label>
                        <select class="form-control" id="pregunta9" name="pregunta9">
                            <option value="" disabled selected>Seleccione su valoración...</option>
                            <option>Largo</option>
                            <option>Adecuado</option>
                            <option>Corto</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta10">10. ¿Cuál crees que sería la duración óptima para este tipo de tours?</label>
                        <input type="text" class="form-control" id="pregunta10" name="pregunta10">
                    </div>
                    <div class="form-group">
                        <label for="pregunta11">11. ¿La plataforma te ayuda a lograr tus objetivos?</label>
                        <select class="form-control" id="pregunta11" name="pregunta11">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option>Sí</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta12">12. ¿Qué características de la plataforma consideras más valiosas?</label>
                        <input type="text" class="form-control" id="pregunta12" name="pregunta12">
                    </div>
                    <div class="form-group">
                        <label for="pregunta13">13. ¿Y la menos valiosa?</label>
                        <input type="text" class="form-control" id="pregunta13" name="pregunta13">
                    </div>
                    <div class="form-group">
                        <label for="pregunta14">14. Al usar la plataforma, ¿has encontrado algún problema que no te ha permitido realizar el tour correctamente? Si pudieras, ¿qué mejorarías?</label>
                        <input type="text" class="form-control" id="pregunta14" name="pregunta14">
                    </div>
                    <div class="form-group">
                        <label for="pregunta15">15. ¿Utilizarías la plataforma en tus próximas vacaciones?</label>
                        <select class="form-control" id="pregunta15" name="pregunta15">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option>Sí</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta16">16. ¿Qué tan probable es que recomiendes "Let's Tour Tec" a otras personas?</label>
                        <select class="form-control" id="pregunta16" name="pregunta16">
                            <option value="" disabled selected>Seleccione una probabilidad...</option>
                            <option>Muy improbable</option>
                            <option>Improbable</option>
                            <option>Normal</option>
                            <option>Probable</option>
                            <option>Muy probable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta17">17. ¿Qué probabilidad hay de que vuelvas a realizar un tour con "Let's Tour Tec"?</label>
                        <select class="form-control" id="pregunta17" name="pregunta17">
                            <option value="" disabled selected>Seleccione una probabilidad...</option>
                            <option>Muy improbable</option>
                            <option>Improbable</option>
                            <option>Normal</option>
                            <option>Probable</option>
                            <option>Muy probable</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta18">18. ¿Crees que la flexibilidad de horarios e idioma es una ventaja competitiva respecto a los tours convencionales?</label>
                        <select class="form-control" id="pregunta18" name="pregunta18">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option>Sí</option>
                            <option>No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta19">19. ¿Cuál crees que es la mejor manera de tener acceso a este tipo de tours?</label>
                        <select class="form-control" id="pregunta19" name="pregunta19">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option>Pagar antes de realizar el tour una cantidad fija</option>
                            <option>Pagar al final del tour la cantidad que consideres</option>
                            <option>Poder tener otras opciones de pagar el tour. Por ejemplo, viendo anuncios</option>
                            <option>Pagar una suscripción mensual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="pregunta20">20. ¿Cuánto estarías dispuesto a pagar por uno de estos tours?</label>
                        <input type="text" class="form-control" id="pregunta20" name="pregunta20">
                    </div>
                    <div class="form-group">
                        <label for="pregunta21">21. ¿Le gustaría que la aplicación tuviera formato red social para poder compartir o encontrar los viajes y tours que mejor se adaptan a su estilo de vida?</label>
                        <select class="form-control" id="pregunta21" name="pregunta21">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option>Sí</option>
                            <option>No</option>
                        </select>
                    </div>
                    <!-- Sección de preguntas sobre el usuario -->
                <div class="mail-questions">
                    <div class="mb-3"></div>
                    <h3 class="card-title">Correo (Opcional)</h3>
                    <div class="mb-3"></div>
                    <div class="form-group">
                        <label for="pregunta22">22. Si quisieras mantenerte al tanto de nuestras actualizaciones nos encantaría disponer de tu correo electrónico: </label>
                        <input type="text" class="form-control" id="pregunta22" name="pregunta22">
                </div></div></div>
                <div class="mb-3"></div>
                <button type="submit" class="btn btn-primary">Enviar</button>


            </form>
        </div>
    </div>
</div>
