
<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>{{ "EXIT.Muchas_gracias_por_hacer_TOURismo_con_nosotros!" | translate }}</h2>
        </div>
        <div class="card-body">
            <div class="about-section">
                <h3 class="card-title">{{ "EXIT.Esperamos_que_hayas_disfrutado_de_tu_aventura_y_hayas_aprendido_algo_nuevo..." | translate }}</h3>
                <p class="card-text">{{ "EXIT.Recuerda_que_hay_más_tours_a_tu_disposición_para_que_puedas_seguir_explorando" | translate }}</p>
            </div>
            <div class="about-section">
                <h3 class="card-title">{{ "EXIT.Mantente_en_contacto" | translate }}</h3>
                <p class="card-text">{{ "EXIT.Agradeceríamos_que_realizaras_una_pequeña_encuesta_para_ayudarnos_a_mejorar" | translate }}</p>
                <p class="card-text">{{ "EXIT.Únicamente_las_preguntas_multivalue_son_obligatorias,_pero_agradecemos_que_respondan_el_mayor_número_posible" | translate }}</p>
            </div>
        </div>
    </div>
</div>

<div class="about-us-section container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>{{ "EXIT.Encuesta" | translate }}</h2>
        </div>
        <div class="card-body">


<form class="finishForm" role="form" [formGroup]="finishForm" (ngSubmit)="onSubmit()">
    <div class="user-questions">
        <h3 class="card-title">{{ "EXIT.Preguntas_sobre_el_usuario" | translate }}</h3>
        <div class="mb-3"></div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta1">1. {{ "EXIT.Edad:" | translate }}</label>
        <input type="number" class="form-control" name="pregunta1" formControlName="pregunta1">
        <div *ngIf="finishForm.get('pregunta1') && finishForm.get('pregunta1')?.invalid && (finishForm.get('pregunta1')?.dirty || finishForm.get('pregunta1')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta1') && finishForm.get('pregunta1')?.errors && finishForm.get('pregunta1')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
            <div *ngIf="finishForm.get('pregunta1') && finishForm.get('pregunta1')?.errors && finishForm.get('pregunta1')?.errors?.['min']">
                {{ "EXIT.La_edad_proporcionada_no_es_válida._Por_favor_selecciona_un_número_mayor_que_0." | translate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta2">2. {{ "EXIT.Género:" | translate }}</label>
        <select class="form-control" name="pregunta2" formControlName="pregunta2">
            <option value="" disabled selected>{{ "EXIT.Seleccione_su_género..." | translate }}</option>
            <option value="Masculino">{{ "EXIT.Masculino" | translate }}</option>
            <option value="Femenino">{{ "EXIT.Femenino" | translate }}</option>
            <option value="Prefiero no decirlo">{{ "EXIT.Otro/Prefiero_no_decirlo" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta2') && finishForm.get('pregunta2')?.invalid && (finishForm.get('pregunta2')?.dirty || finishForm.get('pregunta2')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta2') && finishForm.get('pregunta2')?.errors && finishForm.get('pregunta2')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>



    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta3">3.  {{ "EXIT.Nacionalidad:" | translate }}</label>
        <select class="form-control" name="pregunta3" formControlName="pregunta3" (change)="change(3)">
            <option value="" disabled selected> {{ "EXIT.Seleccione_su_nacionalidad..." | translate }}</option>
            <option value="Española"> {{ "EXIT.Española" | translate }}</option>
            <option value="Otra"> {{ "EXIT.Otra" | translate }}</option>
        </select>
    
        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta3_1" name="subpregunta3_1" formControlName="subpregunta3_1" 
        placeholder='{{ "EXIT.Si_es_otra,_¿cuál?" | translate }}'>
        
        <div *ngIf="finishForm.get('pregunta3') && finishForm.get('pregunta3')?.invalid && (finishForm.get('pregunta3')?.dirty || finishForm.get('pregunta3')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta3') && finishForm.get('pregunta3')?.errors && finishForm.get('pregunta3')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta4">4. {{ "EXIT.¿Cuántos_viajes_haces_al_año?" | translate }}</label>
        <select class="form-control" name="pregunta4" formControlName="pregunta4">
            <option value="" disabled selected>{{ "EXIT.Seleccione_la_cantidad_de_viajes..." | translate }}</option>
            <option value="Menos de 3">{{ "EXIT.Menos_de_3" | translate }}</option>
            <option value="Entre 3 y 5">{{ "EXIT.Entre_3_y_5" | translate }}</option>
            <option value="Más de 5">{{ "EXIT.Más_de_5" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta4') && finishForm.get('pregunta4')?.invalid && (finishForm.get('pregunta4')?.dirty || finishForm.get('pregunta4')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta4') && finishForm.get('pregunta4')?.errors && finishForm.get('pregunta4')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta5">5. {{ "EXIT.¿Y_cuántos_tours_haces_al_año?" | translate }}</label>
        <select class="form-control" name="pregunta5" formControlName="pregunta5">
            <option value="" disabled selected>{{ "EXIT.Seleccione_la_cantidad_de_tours..." | translate }}</option>
            <option value="Menos de 3">{{ "EXIT.Menos_de_3" | translate }}</option>
            <option value="Entre 3 y 5">{{ "EXIT.Entre_3_y_5" | translate }}</option>
            <option value="Más de 5">{{ "EXIT.Más_de_5" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta5') && finishForm.get('pregunta5')?.invalid && (finishForm.get('pregunta5')?.dirty || finishForm.get('pregunta5')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta5') && finishForm.get('pregunta5')?.errors && finishForm.get('pregunta5')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>


</div>



<div class="product-questions">

    <div class="mb-3"></div>
    

                    <h3 class="card-title">{{ "EXIT.Preguntas_sobre_el_producto" | translate }}</h3>
                    <div class="mb-3"></div>
                    <div class="form-group">

            <div class="required d-flex justify-content-end">
        <span>*</span>
    </div>            
        <label for="pregunta6">6. {{ "EXIT.Valora_el_tour_realizado:" | translate }}</label>
        <select class="form-control" name="pregunta6" formControlName="pregunta6">
            <option value="" disabled selected>{{ "EXIT.Seleccione_su_valoración..." | translate }}</option>

            <option value="Muy satisfecho">{{ "EXIT.Muy_satisfecho" | translate }}</option>
            <option value="Satisfecho">{{ "EXIT.Satisfecho" | translate }}</option>

            <option value="Normal">{{ "EXIT.Normal" | translate }}</option>
            <option value="Poco satisfecho">{{ "EXIT.Poco_satisfecho" | translate }}</option>
            <option value="Muy poco satisfecho">{{ "EXIT.Muy_poco_satisfecho" | translate }}</option>
            
        </select>
        <div *ngIf="finishForm.get('pregunta6') && finishForm.get('pregunta6')?.invalid && (finishForm.get('pregunta6')?.dirty || finishForm.get('pregunta6')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta6') && finishForm.get('pregunta6')?.errors && finishForm.get('pregunta6')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta7">7. {{ "EXIT.Valora_el_contenido_del_tour_realizado:" | translate }}</label>
        <select class="form-control" name="pregunta7"  formControlName="pregunta7">
            <option value="" disabled selected>{{ "EXIT.Seleccione_su_valoración..." | translate }}</option>


            <option value="Muy satisfecho">{{ "EXIT.Muy_satisfecho" | translate }}</option>
            <option value="Satisfecho">{{ "EXIT.Satisfecho" | translate }}</option>

            <option value="Normal">{{ "EXIT.Normal" | translate }}</option>
            <option value="Poco satisfecho">{{ "EXIT.Poco_satisfecho" | translate }}</option>
            <option value="Muy poco satisfecho">{{ "EXIT.Muy_poco_satisfecho" | translate }}</option>


        </select>
        <div *ngIf="finishForm.get('pregunta7') && finishForm.get('pregunta7')?.invalid && (finishForm.get('pregunta7')?.dirty || finishForm.get('pregunta7')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta7') && finishForm.get('pregunta7')?.errors && finishForm.get('pregunta7')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta7_1" name="subpregunta7_1" formControlName="subpregunta7_1" placeholder='{{ "EXIT.Que_otro_contenido_te_gustaria_encontrar?" | translate }}'>
    </div>

   <div class="form-group">
    <div class="required d-flex justify-content-end">
        <span>*</span>
    </div>
        <label for="pregunta8">8. {{ "EXIT.Valora_el_formato_en_el_que_se_ha_presentado_el_tour:" | translate }}</label>
        <select class="form-control" id="pregunta8" formControlName="pregunta8" >
            <option value="" disabled selected>{{ "EXIT.Seleccione_su_valoración..." | translate }}</option>
            <option value="Muy satisfecho">{{ "EXIT.Muy_satisfecho" | translate }}</option>
            <option value="Satisfecho">{{ "EXIT.Satisfecho" | translate }}</option>

            <option value="Normal">{{ "EXIT.Normal" | translate }}</option>
            <option value="Poco satisfecho">{{ "EXIT.Poco_satisfecho" | translate }}</option>
            <option value="Muy poco satisfecho">{{ "EXIT.Muy_poco_satisfecho" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta8') && finishForm.get('pregunta8')?.invalid && (finishForm.get('pregunta8')?.dirty || finishForm.get('pregunta8')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta8') && finishForm.get('pregunta8')?.errors && finishForm.get('pregunta8')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta8_1" name="subpregunta8_1" formControlName="subpregunta8_1" placeholder='{{ "EXIT.¿Qué_es_lo_que_más_te_ha_gustado?" | translate }}'>
        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta8_2" name="subpregunta8_2" formControlName="subpregunta8_2" placeholder='{{ "EXIT.¿Y_lo_que_menos?" | translate }}'>
    </div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta9">9. {{ "EXIT.Valora_la_duración_del_tour:" | translate }}</label>
        <select class="form-control" name="pregunta9" formControlName="pregunta9">
            <option value="" disabled selected>{{ "EXIT.Seleccione_su_valoración..." | translate }}</option>
            <option value="Largo">{{ "EXIT.Largo" | translate }}</option>
            <option value="Adecuado">{{ "EXIT.Adecuado" | translate }}</option>
            <option value="Corto">{{ "EXIT.Corto" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta9') && finishForm.get('pregunta9')?.invalid && (finishForm.get('pregunta9')?.dirty || finishForm.get('pregunta9')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta9') && finishForm.get('pregunta9')?.errors && finishForm.get('pregunta9')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pregunta10">10. {{ "EXIT.¿Cuál_crees_que_sería_la_duración_óptima_para_este_tipo_de_tours?" | translate }}</label>
        <input type="text" class="form-control" name="pregunta10" formControlName="pregunta10">
       
    </div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta11">11. {{ "EXIT.¿La_plataforma_te_ayuda_a_lograr_tus_objetivos?" | translate }}</label>
        <select class="form-control" name="pregunta11" formControlName="pregunta11">
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_opción..." | translate }}</option>
            <option value="Sí">{{ "EXIT.Sí" | translate }}</option>
            <option value="No">{{ "EXIT.No" | translate }}</option>
        </select>

        <div *ngIf="finishForm.get('pregunta11') && finishForm.get('pregunta11')?.invalid && (finishForm.get('pregunta11')?.dirty || finishForm.get('pregunta11')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta11') && finishForm.get('pregunta11')?.errors && finishForm.get('pregunta11')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="pregunta12">12. {{ "EXIT.¿Qué_características_de_la_plataforma_consideras_más_valiosas?" | translate }}</label>
        <input type="text" class="form-control"name="pregunta12" formControlName="pregunta12">


    </div>

    <div class="form-group">
        <label for="pregunta13">13. {{ "EXIT.¿Y_la_menos_valiosa?" | translate }}</label>
        <input type="text" class="form-control" name="pregunta13" formArrayName="pregunta13">
    </div>


    <div class="form-group">
        <label for="pregunta14">14. {{ "EXIT.Al_usar_la_plataforma,_¿has_encontrado_algún_problema_que_no_te_ha_permitido_realizar_el_tour_correctamente?_Si_pudieras,_¿qué_mejorarías?" | translate }}</label>
        <input type="text" class="form-control" name="pregunta14" formControlName="pregunta14">
    </div>

    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta15">15. {{ "EXIT.¿Utilizarías_la_plataforma_en_tus_próximas_vacaciones?" | translate }}</label>
        <select class="form-control" id="pregunta15" name="pregunta15" formControlName="pregunta15">
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_opción..." | translate }}</option>
            <option value="Sí">{{ "EXIT.Sí" | translate }}</option>
            <option value="No">{{ "EXIT.No" | translate }}</option>
        </select>

        <div *ngIf="finishForm.get('pregunta15') && finishForm.get('pregunta15')?.invalid && (finishForm.get('pregunta15')?.dirty || finishForm.get('pregunta15')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta15') && finishForm.get('pregunta15')?.errors && finishForm.get('pregunta15')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta16">16. {{ "EXIT.¿Qué_tan_probable_es_que_recomiendes_'Let's_Tour_Tec'_a_otras_personas?" | translate }}</label>
        <select class="form-control" id="pregunta16" name="pregunta16" formControlName="pregunta16" >
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_probabilidad..." | translate }}</option>
            <option value="Muy probable">{{ "EXIT.Muy_probable" | translate }}</option>
            <option value="Probable">{{ "EXIT.Probable" | translate }}</option>


            <option value="Normal">{{ "EXIT.Normal" | translate }}</option>

            <option value="Improbable">{{ "EXIT.Improbable" | translate }}</option>
            <option value="Muy improbable">{{ "EXIT.Muy_improbable" | translate }}</option>

        </select>

        <div *ngIf="finishForm.get('pregunta16') && finishForm.get('pregunta16')?.invalid && (finishForm.get('pregunta16')?.dirty || finishForm.get('pregunta16')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta16') && finishForm.get('pregunta16')?.errors && finishForm.get('pregunta16')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta17">17. {{ "EXIT.¿Qué_tan_probable_es_que_vuelvas_a_usar_'Let's_Tour_Tec'?" | translate }}</label>
        <select class="form-control" id="pregunta17" name="pregunta17" formControlName="pregunta17" >
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_probabilidad..." | translate }}</option>
            <option value="Muy probable">{{ "EXIT.Muy_probable" | translate }}</option>
            <option value="Probable">{{ "EXIT.Probable" | translate }}</option>


            <option value="Normal">{{ "EXIT.Normal" | translate }}</option>

            <option value="Improbable">{{ "EXIT.Improbable" | translate }}</option>
            <option value="Muy improbable">{{ "EXIT.Muy_improbable" | translate }}</option>
        </select>

        <div *ngIf="finishForm.get('pregunta17') && finishForm.get('pregunta17')?.invalid && (finishForm.get('pregunta17')?.dirty || finishForm.get('pregunta17')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta17') && finishForm.get('pregunta17')?.errors && finishForm.get('pregunta17')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta18">18. {{ "EXIT.¿Crees_que_la_flexibilidad_de_horarios_e_idioma_es_una_ventaja_competitiva_respecto_a_los_tours_convencionales?" | translate }}</label>
        <select class="form-control" id="pregunta18" name="pregunta18" formControlName="pregunta18" >
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_opción..." | translate }}</option>
            <option value="Sí">{{ "EXIT.Sí" | translate }}</option>
            <option value="No">{{ "EXIT.No" | translate }}</option>
        </select>
        <div *ngIf="finishForm.get('pregunta18') && finishForm.get('pregunta18')?.invalid && (finishForm.get('pregunta18')?.dirty || finishForm.get('pregunta18')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta18') && finishForm.get('pregunta18')?.errors && finishForm.get('pregunta18')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div> 



    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta19">19. {{ "EXIT.¿Cuál_crees_que_es_la_mejor_manera_de_tener_acceso_a_este_tipo_de_tours?" | translate }}</label>
        <select class="form-control" id="pregunta19" name="pregunta19" formControlName="pregunta19" (change)="change(19)">
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_opción..." | translate }}</option>
            <option value="Pagar antes de realizar el tour una cantidad fija">{{ "EXIT.Pagar_antes_de_realizar_el_tour_una_cantidad_fija" | translate }}</option>
            <option value="Pagar al final del tour la cantidad que consideres">{{ "EXIT.Pagar_al_final_del_tour_la_cantidad_que_consideres" | translate }}</option>
            <option value="Poder tener otras opciones de pagar el tour. Por ejemplo, viendo anuncios">{{ "EXIT.Poder_tener_otras_opciones_de_pagar_el_tour._Por_ejemplo,_viendo_anuncios" | translate }}</option>
            <option value="Pagar una suscripción mensual">{{ "EXIT.Pagar_una_suscripción_mensual" | translate }}</option>
            <option value="Otro">{{ "EXIT.Otro" | translate }}</option>
        </select>
        <input type="text" class="form-control mt-2 subpregunta-input" id="subpregunta19_1" name="subpregunta19_1" formControlName="subpregunta19_1" placeholder= '{{ "EXIT.Si_es_otro,_¿cuál?" | translate }}'>
        <div *ngIf="finishForm.get('pregunta19') && finishForm.get('pregunta19')?.invalid && (finishForm.get('pregunta19')?.dirty || finishForm.get('pregunta19')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta19') && finishForm.get('pregunta19')?.errors && finishForm.get('pregunta19')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div> 

    <div class="form-group">
        <label for="pregunta20">20. {{ "EXIT.¿Cuánto_estarías_dispuesto_a_pagar_por_uno_de_estos_tours?" | translate }}</label>
        <input type="number" class="form-control" id="pregunta20" name="pregunta20" formControlName="pregunta20">
    </div> 



    <div class="form-group">
        <div class="required d-flex justify-content-end">
            <span>*</span>
        </div>
        <label for="pregunta21">21. {{ "EXIT.¿Le_gustaría_que_la_aplicación_tuviera_formato_red_social_para_poder_compartir_o_encontrar_los_viajes_y_tours_que_mejor_se_adaptan_a_su_estilo_de_vida?" | translate }}</label>
        <select class="form-control" id="pregunta21" name="pregunta21" formControlName="pregunta21">
            <option value="" disabled selected>{{ "EXIT.Seleccione_una_opción..." | translate }}</option>
            <option value="Sí">{{ "EXIT.Sí" | translate }}</option>
            <option value="No">{{ "EXIT.No" | translate }}</option>
        </select>


        <div *ngIf="finishForm.get('pregunta21') && finishForm.get('pregunta21')?.invalid && (finishForm.get('pregunta21')?.dirty || finishForm.get('pregunta21')?.touched)" class="alert alert-danger">
            <div *ngIf="finishForm.get('pregunta21') && finishForm.get('pregunta21')?.errors && finishForm.get('pregunta21')?.errors?.['required']">
                {{ "EXIT.Por_favor_seleccione_una_respuesta" | translate }}
            </div>
        </div>
    </div> 

        <div class="mail-questions">
            <div class="mb-3"></div>
            <h3 class="card-title">{{ "EXIT.Correo_(Opcional)" | translate }}</h3>
            <div class="mb-3"></div>
            <div class="form-group">
                <label for="pregunta22">22. {{ "EXIT.Si_quisieras_mantenerte_al_tanto_de_nuestras_actualizaciones_nos_encantaría_disponer_de_tu_correo_electrónico:" | translate }} </label>
                <input type="text" class="form-control" id="pregunta22" name="pregunta22"formControlName="pregunta22">
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!finishForm.valid">{{ "EXIT.Enviar" | translate }}</button> 



        </div>
    
</form>

