<!-- Detalles de la Ubicación -->
<mat-card class="container-card">
  <mat-card-header class="mb-3">
      <mat-card-title>Location details</mat-card-title>
  </mat-card-header>
  <mat-card-content> 
      <p>Latitude: {{ latitude }}</p>
      <p>Longitude: {{ longitude }}</p>
      <p>Location: {{ location }}</p>
  </mat-card-content>
</mat-card>

<!-- Tours Cercanos -->
<mat-card class="container-card">
  <mat-card-header class="mb-3">
      <mat-card-title>Closest tours to the location given</mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="16px" class="card-container" *ngIf="tours && tours.length > 0">       
          <app-generic-card class="d-flex flex-wrap" [toursdata]="tours" [all-tours]="true"></app-generic-card>
      </div>
      <div *ngIf="!tours || tours.length === 0">
          <p>There is an error checking this location...</p>
      </div>
  </mat-card-content>
</mat-card>
